.login {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    height: 100vh;
}

.login .form {
    gap: 75px;
}

#login-btn {
    align-self: center;
    padding: 16px 53px;
}

.login .inputs {
    gap: 45px;
}

.login .decor {
    position: absolute;
}

.decor-1 {
    bottom: 0;
    left: 35%;
}

.decor-2 {
    right: 0;
}

.cadastro {
    display: grid;
    grid-template-columns: 2.5fr 2fr;
    height: 100vh;
}

.cadastro .form {
    gap: 45px;
}

.cadastro .decor {
    width: 100%;
    align-self: flex-end;
}

#cadastro-btn {
    align-self: center;
    padding: 15px 20px;
}

.cadastro .inputs {
    gap: 20px;
}