body {
    background-color: #000;
}

main {
    display: flex;
    flex-direction: column;
}

.hero_container {
    background-image: url('../assets/imgs/hero_bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: grid;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;

    justify-content: center;
}

#hero_yuji {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 85%;
}

#hero_bt {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.hero_content {
    grid-column: 2 / 7;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hero_content h1 {
    letter-spacing: 1rem;
    font-size: 110px;
    color: #000000;
    text-wrap: nowrap;
    text-shadow:
        -1px -1px 0 #D6CD81,
        1px -1px 0 #D6CD81,
        -1px 1px 0 #D6CD81,
        1px 1px 0 #D6CD81;
}

.hero_content h2 {
    line-height: 150%;
    font-size: 28px;
}

#hero_btn {
    font-size: 24px;
    padding: 16px;
    width: 250px;
}

.section-title {
    grid-column: 4 / 10;
    text-align: center;
    position: relative;
    color: #fff;
    margin-bottom: 120px;
}

.section-title span {
    display: block;
}

.section-title span:first-child {
    font-size: 65px;
}

.section-title:last-child {
    font-size: 35px;
}

.section-title:before,
.section-title::after
{
    content: "";
    width: 78px;
    height: 149px;
    position: absolute;
    top: 0;
}

.section-title:before {
    background: url('../assets/imgs/deco1.svg') no-repeat 0 0 / 100%;
    left: -50px;
}

.section-title::after {
    background: url('../assets/imgs/deco2.svg') no-repeat 0 0 / 100%;
    right: -50px;
}

.destaques {
    margin-bottom: 150px;
    padding-bottom: 250px;
    background-image: url('../assets/imgs/gojo_bg.svg');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    /* X Y */
}

.container-content {
    grid-column: 2 / 12;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card__image {
    position: relative;
}

.card__image img {
    border: 1px solid #fff;
}

.card__image::before {
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    height: 5px;
    left: 10px;
    bottom: -10px;
}

.card__image::after {
    content: "";
    position: absolute;
    background: #fff;
    height: 100%;
    width: 5px;
    right: -15px;
    top: 10px;
}

.card__badge {
    position: relative;
}

.card__badge span {
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    bottom: -30px;
    left: 30px;
}

.card__title {
    font-size: 20px;
    justify-self: flex-end;
    align-self: flex-end;
}

.container-btn {
    display: flex;
    justify-content: center;
}

#destaques_btn {
    font-size: 28px;
}

.arquivo_personagens {
    padding-bottom: 250px;
    margin-bottom: 250px;
    position: relative;
}

.decor {
    position: absolute;
    pointer-events: none;
}

.decor-1 {
    left: 0;
    bottom: 65%;
}

.decor-2 {
    right: 0;
    bottom: 70%;
}

.decor-3 {
    top: 40%;
    left: 0;
}

.decor-4 {
    top: 65%;
    right: 0;
}

.section_bg {
    position: absolute;
    right: 0;
}

.select_characters {
    display: flex;
}

.select__character a {
    position: relative;
    display: inline-block;
}

.img-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s;
}

.select__character a:hover .img-hover {
    opacity: 1;
}

#arquivo_btn {
    font-size: 35px;
    padding: 12px 45px 12px 45px;
}

.quiz {
    padding-bottom: 35%;
    background-image: url('../assets/imgs/yaga_bg.svg');
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.quiz .container-content {
    position: relative;
}

.quiz__content {
    display: flex;
    justify-content: space-between;
}

.quiz__call {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

#quiz_decor {
    position: absolute;
    right: 0;
    bottom: 35%;
}

.quiz__call h2 {
    margin-top: -45px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quiz__call span {
    font-size: 100px;
}

.quiz__call div {
    background-color: #FFF;
    width: 2px;
    height: 100%;
}

#quiz_btn {
    padding: 10px 45px 10px 45px;
}

.conceitos {
    margin-bottom: 150px;
    position: relative;
    background-image: url('../assets/imgs/hand_bg.svg');
    background-repeat: no-repeat;
    background-position: center -25%;
}

.conceitos_decor-1 {
    bottom: 80%;
    right: 0;
}

.conceitos_decor-2 {
    left: 0;
    top: 50%;
}

.conceitos .container-content {
    align-items: center;
    position: relative;
}

.conceitos_cards {
    position: relative;
    display: flex;
    align-items: flex-end;
    gap: 150px;
}

.conceitos_cards h2 {
    text-align: center;
    font-size: 35px;
}

.conceitos__card {
    text-align: center;
    font-size: 28px;
    width: 300px;
    height: 445px;
    transition: 0.3s;
    perspective: 1000px;
}

.card-front {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.conceitos__card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    border: 4px solid #FFF;
    border-radius: 12px;
    backface-visibility: hidden;
}

.card-back {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    background: #000;
    justify-content: center;
    padding: 20px;
    font-size: 18px;
    line-height: 1.4;
}

.conceitos__card h3 {
    padding: 30px;
}

.historia {
    padding-bottom: 250px;
    position: relative;
    background-image: url('../assets/imgs/chair_bg.png');
    background-repeat: no-repeat;
    background-position: right;
}

.historia .section-title,
.historia .container-content {
    grid-column: 2 / 7;
}

.historia .container-btn {
    display: block;
}

#historia__text {
    font-size: 26px;
    line-height: 200%;
}

#historia_btn {
    padding: 12px 16px 12px 16px;
}

#historia_bt {
    position: absolute;
    width: 100%;
    bottom: 0;
}