.navbar {
    position: absolute;
    background-image: url('/public/assets/imgs/nav_bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;

    font-size: 18px;
    text-wrap: nowrap;
}

.navbar_logo {
    padding-top: 28px;
    grid-column: 2 / 3;
}

.navbar_logo img {
    width: 243px;
    height: 80px;
}

.navbar_nav,
.navbar_actions {
    padding-top: 52px;
}

.navbar_nav {
    grid-column: 4 / 9;
    display: flex;
    justify-content: center;
    gap: 75px;
}

.navbar_actions {
    grid-column: 10 / 12;
    display: flex;
    justify-content: flex-end;
    gap: 75px;
}