.navbar {
    height: 30vh;
}

.container {
    gap: 30px;
}

.perfil {
    min-height: 100vh;
    background-color: var(--black);
    color: var(--white);
    min-height: 100vh;
    justify-content: center;
    padding-bottom: 150px;
}

.perfil-container {
    grid-column: 2 / 12;
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    gap: 75px;
}

#ranking.active {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#ranking h1 {
    font-size: 30px;
    letter-spacing: 0.12em;
}

#historico.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#historico h1 {
    font-size: 3rem;
}

.tentativas-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-height: 450px;
    overflow-y: auto;
}

.tentativa-header,
.tentativa-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 30px;
    width: 100%;
}

.tentativa-header span {
    display: flex;
    justify-content: center;
    color: var(--white);
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 15px;
}

.tentativa-row span {
    color: var(--black);
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    min-height: 60px;
    font-size: 30px;
    font-weight: 500;
}

.tentativas-list::-webkit-scrollbar {
    width: 6px;
}

.tentativas-list::-webkit-scrollbar-thumb {
    background: var(--green-zenin);
    border-radius: 10px;
}

#visao.active {
    display: grid;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}


.perfil-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.perfil-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.perfil-info .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid white;
    padding: 10px;
}

.user {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user h3 {
    font-weight: 500;
    font-size: 20px;
}

.user span {
    font-size: 18px;
    opacity: 0.4;
}

.titulo {
    font-weight: 500;
    font-size: 40px;
}

.perfil-nivel {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.barra-container {
    width: 100%;
    height: 20px;
    background: #d9d9d9;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 10px;
    border: 2px solid var(--black);
}

.barra-progresso {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, var(--dark-blue-jujutsu), #5f33ff);
    border-radius: 20px;
    transition: width 0.8s ease;
}

.perfil-proximo-nivel {
    display: flex;
    justify-content: space-between;
}

#faltam-nivel,
#proximo-nivel {
    font-size: 16px;
}

#config.active .perfil-header {
    margin-bottom: 30px;
}

.graficos {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    width: 100%;
    height: 600px;
}

.graficos canvas {
    width: 100% !important;
    height: 100% !important;
}

.config-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: white;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px 40px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-group label {
    font-size: 25px;
}

.input-group input {
    background: var(--white);
    border: none;
    padding: 15px;
    border-radius: 4px;
    font-size: 25px;
    color: var(--black);
}

.avatar-section h3 {
    font-size: 25px;
    margin-bottom: 25px;
    letter-spacing: 0.1em;
}

.avatar-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.avatar-list .avatar {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    background-color: var(--white);
    transition: 0.2s;
}

.avatar-list .avatar:hover {
    transform: scale(1.05);
    background: none;
    border: 2px solid white;
}

.avatar-list .avatar.selected {
    background: none;
    border: 2px solid white;
    opacity: 50%;
    cursor: default;
}

.avatar-list .avatar.selected:hover {
    transform: none;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.cancelar {
    background: #d9d9d9;
}

.salvar {
    background: var(--black);
    color: var(--white);
    border: 1px solid var(--white);
}

.bottom {
    justify-self: center;
    width: 50%;
}

.bottom .kpi {
    text-align: center;
}

.hidden {
    display: none;
}

.editing {
    background-color: var(--black);
    color: var(--white);
}

.form-grid input:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.avatar.selected {
    border: 4px solid var(--black);
}