body {
    background: var(--black);
}

.navbar {
    background-image: url('../assets/imgs/personagens/nav_bg_white.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar a {
    color: var(--black);
    font-weight: 800;
}

.acervo-personagens {
    background:
        linear-gradient(rgba(0, 0, 0, 0.55),
            rgba(0, 0, 0, 0.9)),
        url('../assets/imgs/personagens/bg.svg');

    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    min-height: 100vh;
    color: var(--white);
    padding: 50px;
}

.titulo {
    text-align: center;
    margin-top: 250px;
    font-size: 6rem;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 150px;
}

.grid-personagens {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-personagem {
    transition: .3s;
    margin-bottom: 70px;
}

.card-personagem img {
    width: 90%;
    filter: grayscale(100%);
    transition: .3s;
}

.card-personagem:hover img {
    filter: grayscale(0%);
}

.footer {
    background-image: url('../assets/imgs/personagens/footer_bg_white.png');
}

.footer p,
.footer h3,
.footer a,
.footer span {
    color: var(--black);
}

.footer p:hover,
.footer h3:hover,
.footer a:hover,
.footer span:hover {
    color: var(--black);
    text-decoration: underline;
}

.footer__divider {
    background-color: var(--black);
}