body {
    background-color: var(--black);
}

.navbar {
    background-image: url('../assets/imgs/personagens/nav_bg_white.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
}

.navbar a {
    color: var(--black);
    font-weight: 800;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personagem {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    padding: 50px;
    overflow: hidden;
}

.infos {
    grid-column: 2 / 4;
    color: var(--white);
}

.infos h1 {
    font-size: 7rem;
    font-weight: 600;
}

.infos p {
    margin: 20px 0;
    line-height: 1.6;
}

.status {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.status span {
    background: var(--black);
    padding: 10px;
    width: fit-content;
}

.imagem-principal {
    margin-top: 200px;
    grid-column: 5 / 9;
}

.cenas-memoraveis {
    text-align: center;
    grid-column: 10 / 12;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
}

.galeria {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.galeria img {
    object-fit: cover;
    height: 200px;
    width: 300px;
    border: 2px solid var(--white);
    cursor: pointer;
    transition: .3s;
}

.galeria img:hover {
    transform: scale(1.05) translateY(-5px);
}

.modal-cena img {
    width: 70%;
    height: 70vh;
    border: 2px solid var(--white);
}

.modal-cena.ativo img {
    transform: scale(1);
}

.fechar-modal {
    padding: 0px 12px;
    position: absolute;
    background: transparent;
    border: 2px solid var(--white);
    top: 30px;
    right: 40px;
    font-size: 3rem;
    cursor: pointer;
    transition: .3s;
}

.fechar-modal:hover {
    color: var(--black);
    background-color: var(--white);
    transform: scale(1.1);
    transition: .3s;
}

.modal-cena {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .92);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    z-index: 9999;
    backdrop-filter: blur(8px);
}

.modal-cena.ativo {
    opacity: 1;
    visibility: visible;
}

.modal-cena img {
    max-width: 80%;
    max-height: 85vh;
    transform: scale(.85);
    object-fit: cover;
    transition: .3s;
}

.modal-cena.ativo img {
    transform: scale(1);
}

.seta {
    position: absolute;
    background: transparent;
    border: 2px solid var(--white);
    width: 70px;
    height: 70px;
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
    transition: .3s;
}

.seta:hover {
    background: var(--white);
    color: var(--black);
    transform: scale(1.1);
}

.seta-esquerda {
    left: 40px;
}

.seta-direita {
    right: 40px;
}

#voltar_btn {
    font-size: 2rem;
    margin-bottom: 100px;
}

.footer {
    background-image: url('../assets/imgs/personagens/footer_bg_white.png');
}

.footer p,
.footer h3,
.footer a,
.footer span {
    color: var(--black);
}

.footer p:hover,
.footer h3:hover,
.footer a:hover,
.footer span:hover {
    color: var(--black);
    text-decoration: underline;
}


.footer__divider {
    background-color: var(--black);
}